@font-face {
    font-family: as1;
    src: url(../fonts/AllTogetherSans-Regular.woff2);
  }
  
  @font-face {
    font-family: as2;
    src: url(../fonts/AllTogetherSerif-CnBold.woff2);
  }

  @font-face {
    font-family: as3;
    src: url(../fonts/AllTogetherSans-SemiLight.woff2);
  }
  
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: as1;
  }
  
  a {
    color: #5a1f06;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: as2;
  }
  
  as2 {
    font-family: as2;
  }
  
  .swiper-scrollbar {
    bottom: 20px !important;
  }

  as3{
    font-family: as3;

  }
  